<div id="paper">
  <svg style="width: 100%; height: 100%;" (mousedown)="handleMouseDown($event)" (mouseup)="handleMouseUp($event)" (mousemove)="handleMove($event)">
    <svg:g [attr.id]="i" *ngFor="let feature of features()">
      <ng-container *ngFor="let plane of feature.planes()">
        <polygon [attr.points]="plane.svgPoints()" [attr.fill]="plane.color" style="stroke-width:2" />
      </ng-container>
      <ng-container *ngFor="let edge of feature.edges()">
        <line [attr.x1]="edge.start.x" [attr.y1]="edge.start.y" [attr.x2]="edge.end.x" [attr.y2]="edge.end.y" [attr.stroke]="edge.color"
          style="stroke-width:2" fill-rule="evenodd" />
      </ng-container>
    </svg:g>
  </svg>
  <div id="threeD">
    <div #container></div>
  </div>
</div>